.header-logo {
  width: 35px;
}

.table-row-grey {
  background-color: #9e9e9e;
}

.color-red {
  color: red;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.help-article {
  section {
    text-align: justify;
    font-size: 1.2em;
  }
}

.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    //opacity: 0.4;
    border: 1px solid red;
  }
}
