.header-logo {
  width: 35px;
}

.table-row-grey {
  background-color: #9e9e9e;
}

.color-red {
  color: red;
}

.padding-bottom-0 {
  padding-bottom: 0px;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}
